<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-28 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4" data-aos="fade-up" data-aos-delay="100">
        <div class="relative mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl text-center font-bold mb-6">Acceptable Use Policy
            </h1>
            <p class="text-lg text-gray-700 mb-4">Effective Date: September 1, 2025</p>
            <p class="text-lg text-gray-700 text-justify mb-4">By using OON SOFT LLC services, you agree not to engage
                in illegal activities, distribute malware, attempt hacking or denial-of-service attacks, infringe on
                intellectual property rights, send spam or unsolicited communications, or publish harmful, abusive, or
                discriminatory content. </p>
            <p class="text-lg text-gray-700 text-justify mb-4">Activities prohibited under Stripe’s or PayPal Acceptable
                Use Policy, such as unlicensed gambling or weapons trading, are also prohibited.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">Our services are designed for normal business usage, and
                excessive or disruptive use may result in restrictions or additional fees.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">We reserve the right to suspend or terminate accounts for
                violations, although minor issues may first receive a warning.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">If you believe enforcement was applied in error, you may
                appeal by contacting us at support@oonsoft.llc
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>