<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-28 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4 transform transition-all duration-300 hover:scale-[1.01] animate-fade-in"
        data-aos="fade-up" data-aos-delay="100">
        <div class="relative mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl text-center font-bold mb-6">Acceptable Use Policy
            </h1>
            <p class="text-lg text-gray-700 mb-4">Effective Date: September 1, 2025</p>
            <p class="text-lg text-gray-700 text-justify mb-4">
                You agree not to use OON SOFT LLC services for any unlawful activities, including the unauthorized
                resale or distribution of digital product licenses. Additionally, you must not engage in any actions
                that violate the acceptable use policies of our payment processors or other service providers.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>