<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-32 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4" data-aos="fade-up" data-aos-delay="100">
        <div class="relative text-center mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl font-bold mb-6">Refund & Return Policy</h1>
            <p class="text-lg text-gray-700 mb-4">Effective Date: September 1, 2025</p>
            <p class="text-lg text-gray-700 text-justify mb-4">At OON SOFT LLC, we are committed to providing quality
                services and products. Digital services such as subscriptions and social media packages are
                non-refundable once delivered or once a renewal has begun. Customers may cancel subscriptions prior to
                renewal to avoid future charges.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">Refunds for POS software subscriptions are available only
                if requested within seven days of the initial purchase.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">For IT products, returns are accepted within fourteen
                days of delivery provided the items are unused, in original packaging, and accompanied by proof of
                purchase. Customers are responsible for return shipping costs unless the product is defective, in which
                case we will cover the return.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>