<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-28 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4" data-aos="fade-up" data-aos-delay="100">
        <div class="relative text-center mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl font-bold mb-6">BUDDIES COMMERCIAL LLC Returns Policy</h1>
            <p class="text-lg text-gray-700 mb-4">Last updated: July 04, 2025</p>
            <p class="text-lg text-gray-700 text-justify mb-4">
                We understand that there may come a time to return a purchase and we aim to make the returns process as
                simple as possible. If you’re looking to return or exchange your order, we offer returns within 30 days
                of purchase. You can return your product for store credit or a refund to the original payment method.
                Please note: All returned items must be in new and unused condition, with the original tags and labels
                attached. Return Process To return an item, email us at hello@buddiescommercial.com with your Order
                Number and return reason and our support team will be happy to assist you with the next steps. Refunds
                After receiving your item/s and inspecting the condition, we will process your refund or exchange.
                Please allow at least 3 days from the receipt of your item/s for your return to be processed. Questions
                For questions relating to our returns policy, please contact us at hello@buddiescommercial.com
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>