<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-28 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4 transform transition-all duration-300 hover:scale-[1.01] animate-fade-in"
        data-aos="fade-up" data-aos-delay="100">
        <div class="relative text-center mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl font-bold mb-6">Refund & Return Policy</h1>
            <p class="text-lg text-gray-700 mb-4">Effective Date: September 1, 2025</p>
            <p class="text-lg text-gray-700 text-justify mb-4">
                Digital product licenses are non-refundable once delivered or activated. Please verify compatibility and
                requirements before purchase. If you experience issues with license delivery or activation, contact
                support@oonsoft.llc within 7 days of purchase for assistance.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">
                Refunds for POS software subscriptions are available only if requested within seven days of the initial
                purchase.
            </p>
            <p class="text-lg text-gray-700 text-justify mb-4">
                IT products (physical goods) may be returned within fourteen days if unused and in original packaging.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>