<app-header></app-header>
<section id="about">
    <div class="max-w-7xl mt-32 mb-10 bg-red-50 rounded-3xl p-14 mx-auto px-4" data-aos="fade-up" data-aos-delay="100">
        <div class="relative text-center mb-12 mx-10">
            <h1 class="text-3xl md:text-4xl font-bold mb-6">Cancellations & Billing</h1>
            <p class="text-lg text-gray-700 text-justify mb-4">Subscriptions renew automatically unless canceled.
                Customers may cancel subscriptions at any time, which will stop future billing but will not result in
                partial refunds for unused portions. Customers may manage billing and cancellation directly through
                their account portal.
            </p>
        </div>
    </div>
</section>
<app-footer></app-footer>